{% extends 'base.html.twig' %}

{% block title %}Resume: Matthew Travis Johnson{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/resume.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('build/resume.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <header class="dark-background">
        <div class="header-container">
            <h1>Matthew Travis Johnson</h1>
            <h3 class="sr-content">Contact</h3>
            <section id="contact">
                <p id="email">
                    <a href="mailto:matt@gdibass.com">
                        matt@gdibass.com
                    </a>
                </p>
                <span><i class="fa fa-envelope-square"></i></span>
                <p id="phone">
                    <a href="tel:858-252-5000">
                        1 (858) 252-5000
                    </a>
                </p>
                <span><i class="fa fa-phone-square"></i></span>
                <p id="linked-in">
                    <a href="https://www.linkedin.com/in/gdibass" target="_blank">
                        https://www.linkedin.com/in/gdibass
                    </a>
                </p>
                <span><i class="fa fa-linkedin-square"></i></span>
            </section>
            <section id="info">
                <p id="job-title" class="big-text">Senior Software Engineer</p>
                <p id="city"><i class="fa fa-map-marker"></i> San Francisco, CA</p>
            </section>
        </div>
    </header>

    <main>
        <div class="main-container">
            <section id="about">
                <h2>About</h2>
                <p>
                    I'm a passionate, self-taught software engineer with a well-rounded background in IT, support,
                    management, and DevOps.
                </p>
                <p>
                    My inquisitive nature and affinity for problem solving have allowed me to implement solutions and
                    solve for business needs in high stress environments. My soft skills and leadership abilities have
                    enabled me to impact change across organizations, stretching beyond my direct influence and allowing
                    me to push for positive changes. My passion for software engineering has allowed me to grow and
                    learn rapidly, while also helping more junior members of my
                    teams grow in similar ways.
                </p>
                <p>
                    I've worked on numerous side projects, including my own ~30,000 user web application,
                    independent contracting, and contributing to open source projects. I'm a fast learner, capable of
                    quickly integrating into teams and learning their associated business systems. I'm also a big
                    picture thinker which allows me to design and implement independent, scalable, fault tolerant
                    systems, which are capable of evolving with business needs.
                </p>
            </section>
            <section id="experience">
                <h2>Experience</h2>
                <div class="experience-bar"></div>
                <div class="experience-bar-labels">
                    <div class="exp-bar-present">Present</div>
                    <div class="exp-bar-past">Past</div>
                </div>
                <div class="job-list">
                    <div class="job-info">
                        <div class="pointer-line"></div>
                        <h3>Senior Software Engineer</h3>
                        <div class="job-details">
                            <div class="job-employer">Intuit</div>
                            <div class="job-dates">November 2020 - Present</div>
                        </div>
                    </div>
                    <div class="job-roles">
                        <div class="tech-list">
                            Java (SpringBoot), Handlebars, React, GraphQL, JIRA, AWS, Kubernetes, Docker, Splunk
                        </div>
                        <ul>
                            <li>Took over and drove a project that had stalled for 2 years, delivering a first version
                                of the product, and re-designing the overall architecture in a way that allowed for
                                incremental design improvements and emphasized scalability, performance, fault
                                tolerance, and modularity.
                            </li>
                            <li>Built a microservice and front end library to handle large volumes of smaller requests,
                                reducing the amount of requests to a legacy monolith application by over 45%.
                            </li>
                            <li>Identified a bottleneck for a monolithic service that was causing multiple load-related
                                failures. Worked with a partner team to fix the issue, and extract the logic into a
                                microservice to prevent further service disruptions.
                            </li>
                            <li>Improved monitoring and logging of a legacy monolith application, improving overall
                                visibility into application and its behavior, and reducing time to detect and
                                resolve multiple types of incidents, some by 50% or more.
                            </li>
                            <li>Implemented multiple performance improvements to a legacy monolith application, reducing
                                incidents in multiple areas to 0 (through jitter, caching, circuit breakers), improving
                                readability through linting and code style enforcement, and upgrading the underlying
                                framework to a supported version.
                            </li>
                            <li>Built a chat bot to handle some more complicated parts of release management for a
                                legacy monolith application, significantly reducing the amount of effort required to
                                validate releases, and improving overall developer satisfaction.
                            </li>
                            <li>Taught a team the ins and outs of the oAuth2 flow, and worked with them to ensure
                                that our new implementation followed all best practices.
                            </li>
                        </ul>
                    </div>
                    <div class="job-info">
                        <div class="pointer-line"></div>
                        <h3>Senior Software Engineer</h3>
                        <div class="job-details">
                            <div class="job-employer">StepStone Group</div>
                            <div class="job-dates">Jan 2020 - November 2020</div>
                        </div>
                    </div>
                    <div class="job-roles">
                        <div class="tech-list">
                            PHP (Laravel), Python (Django), Javascript (jQuery/React), Typescript Bash, MySQL, JIRA,
                            AWS, Docker, Webpack, Npm
                        </div>
                        <ul>
                            <li>Built and implemented centralized oAuth2 server for multiple in-house applications,
                                improving overall security and simplifying user management.
                            </li>
                            <li>Implemented and improved deployment pipelines with the help of DevOps, decreasing
                                overall deployment times and enabling developers to deploy code themselves.
                            </li>
                            <li>Implemented agile development across multiple teams, ensuring cross-team functionality.
                            </li>
                            <li>Mentored Jr and Sr developers alike, encouraging scalability and best practices.</li>
                            <li>Instituted regular implementation/Code Reviews, improving overall code quality.</li>
                            <li>Worked with QA to re-design, implement, and improve test suites, reducing build time and
                                overall application defects.
                            </li>
                        </ul>
                    </div>
                    <div class="job-info">
                        <div class="pointer-line"></div>
                        <h3>Software Engineer II</h3>
                        <div class="job-details">
                            <div class="job-employer">StepStone Group</div>
                            <div class="job-dates">Dec 2018 - Dec 2019</div>
                        </div>
                    </div>
                    <div class="job-roles">
                        <div class="tech-list">
                            PHP (Laravel), Python (Django), Javascript (jQuery/React), Bash, MySQL, JIRA, AWS, Docker,
                            Webpack, Npm, Vagrant
                        </div>
                        <ul>
                            <li>Implemented Webpack/React into a legacy application, setting the standards and
                                groundwork for implementing new features, and refactoring existing functionality using
                                React, instead of jQuery.
                            </li>
                            <li>Built a testing framework for a legacy PHP application, allowing implementation of
                                feature testing and unit testing. I then drove the effort to improve code coverage to
                                more than 45%.
                            </li>
                            <li>Implemented numerous security/sustainability focused code and process improvements,
                                hardening the application and improving developer appeal.
                            </li>
                            <li>Assisted in project management, driving forward many critical, time sensitive features
                            </li>
                            <li>Mentored and managed multiple jr developers, encouraging career development and
                                assisting in feature delivery.
                            </li>
                        </ul>
                    </div>
                    <div class="job-info">
                        <div class="pointer-line"></div>
                        <h3>Software Developer</h3>
                        <div class="job-details">
                            <div class="job-employer">Independent Contractor</div>
                            <div class="job-dates">Nov 2017 - Mar 2019</div>
                        </div>
                    </div>
                    <div class="job-roles">
                        <div class="tech-list">
                            PHP (Symfony), Javascript (jQuery/React), Bash, MySQL, Webpack, Yarn, Azure
                        </div>
                        <ul>
                            <li>Modernized an application with React, improving usability, feature turnaround time, and
                                drastically improving application performance.
                            </li>
                            <li>Completely redesigned multiple UIs, improving application usability, and scalability.
                            </li>
                            <li>Set up application deployment, and deployment pipeline, with documentation for future
                                scalability.
                            </li>
                        </ul>
                    </div>
                    <div class="job-info">
                        <div class="pointer-line"></div>
                        <h3>Software Developer<br /><span style="padding-left: 16px">/ DevOps</span></h3>
                        <div class="job-details">
                            <div class="job-employer">Voxox (TelCentris Inc.)</div>
                            <div class="job-dates">Jan 2017 - Dec 2018</div>
                        </div>
                    </div>
                    <div class="job-roles">
                        <div class="tech-list">
                            PHP (Zend/Symfony), Python, Javascript (jQuery), Bash, MySQL, Webpack, SIP, JIRA, Zendesk,
                            PRTG, SNMP, Loggly, Vagrant, Salt Stack
                        </div>
                        <ul>
                            <li>Built an internal routing system, allowing the company to save $50,000 in monthly
                                recurring costs.
                            </li>
                            <li>Redesigned a deployment pipeline for voice soft-switches, allowing us to perform
                                automated no downtime deployments.
                            </li>
                            <li>Lead an education effort amongst multiple teams of engineers, encouraging the teams to
                                further their careers, and grow their craft.
                            </li>
                        </ul>
                    </div>
                    <div class="job-info">
                        <div class="pointer-line"></div>
                        <h3>Director of Voice Operations<br /><span
                                    style="padding-left: 16px">/ Software Developer</span></h3>
                        <div class="job-details">
                            <div class="job-employer">Voxox (TelCentris Inc.)</div>
                            <div class="job-dates">Mar 2014 - Jan 2017</div>
                        </div>
                    </div>
                    <div class="job-roles">
                        <div class="tech-list">PHP (Zend), PHP (Symfony), Javascript, Bash, MySQL, SIP, JIRA, Zendesk,
                            PRTG, SNMP, Wireshark
                        </div>
                        <ul>
                            <li>Led a team in designing, building, and maintaining VoIP systems capable of
                                handling 1 billion calls/month.
                            </li>
                            <li>Designed multiple rating and routing algorithms, allowing us to optimize our call
                                routing engines, increasing our wholesale call revenue by nearly 100%.
                            </li>
                            <li>Built multiple reporting and analysis tools, allowing my team to monitor our voice
                                network and fix voice and call routing issues before they affected customers.
                            </li>
                            <li>Built an intranet application with a set of more than 40 tools and features, improving
                                the ability of operations, support, and accounting to perform their jobs, and obviating
                                additional hiring.
                            </li>
                            <li>Mentored a group of engineers in troubleshooting, software development, and soft
                                skills.
                            </li>
                            <li>Built an internal support/morale/account tools, improving overall productivity.</li>
                            <li>Created customer training, support, and process documentation reducing ticket volume and
                                average ticket resolution.
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <section id="download-resume">
            <a href="{{ asset('build/static/Resume%20-%20Matthew%20Travis%20Johnson.pdf') }}" target="_blank">
                <i class="fa fa-download"></i>
            </a>
        </section>
        <section id="references">
            <a href="#!" id="get-references">
                References available on request
            </a>
        </section>
    </footer>
{% endblock %}
