@import './theme';

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  #references {
    float: right;
    padding-right: 50px;
    padding-bottom: 40px;
  }
  #download-resume{
    float: left;
    padding-left: 50px;
    padding-bottom: 40px;
  }
  color: $mainColorDark;
  a {
    color: $mainColorDark;
    text-decoration: none;
    &:hover {
      color: $mainColorLight;
    }
  }
}