@import './theme';

header {
  width: 100%;
  .header-container {
    width: 97.2%;
    padding: 15px 15px 5px;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 35px;

    grid-gap: 5px 5px;

    h1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    #info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 10px;
      #job-title {
        margin-top: 6px;
        font-weight: bold;
      }
      #city {
        margin-top: 6px;
      }
    }

    #contact {
      text-align: right;
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      line-height: 0.1rem;
      margin-top: 3px;
      display: grid;
      grid-template-columns: auto 24px;
      span {
        vertical-align: center;
        text-align: center;
        margin-top: -2px;
      }
    }

    a {
      color: $lightFontColor;
      text-decoration: none;
      &:hover {
        color: $lightFontColorHover;
      }
    }
  }
}