@import './theme';

html {
  background-color: #434343;
  font-family: Lato, sans-serif;
}

body {
  width: 1063px;
  height: 1375px;
  margin: 50px auto;
  background-color: $lightBackgroundColor;
  position: relative;
  padding: 0 !important;
  box-shadow: 0 0 15px black;
  overflow: scroll;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  height: 1375px !important;
}

@media (max-width: 1063px) {
  body {
    margin: 0;
  }
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.sr-content {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.big-text {
  font-size: 1.2rem;
}

.small-text {
  font-size: 0.9rem;
}

p {
  margin-top: 5px;
}

.dark-background {
  background-color: $mainColor;
  color: $lightFontColor;
  text-shadow: $mainColorDark 2px 2px;
}

#skills {
  margin-top: -10px;
}
