@import './theme';

main {
  width: 100%;
  .main-container {
    padding: 0 25px 25px;
    margin-top: 15px;
    color: $mainColorDark;
    position: relative;
    width: 95.3%;
    height: 100%;
    font-size: small;
  }
}

#about {
  p {
    padding: 0;
    margin: 0 8px 4px;
    text-align: justify;
  }
}

.tech-list {
  margin-left: 10px;
  font-style: oblique;
  font-size: 12px;
}

#skills {
  #skills-bar {
    width: 98%;
    margin: 5px auto auto;
    background-color: $mainColorDark;
    height: 1px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    div {
      margin-top: -16px;
      font-size: 12px;
      text-align: center;
      font-style: italic;
    }
    #skills-bar-learning {
      padding-left: 30px;
    }
    &:after {
      content: '';
      position: absolute;
      right: -1px;
      top: -7px;
      height: 0;
      width: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 11px solid $mainColor;
    }
  }

  #skills-list {
    margin: 5px auto auto;
    width: 94%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    text-align: center;
    background: none;
    position: relative;
    div {
      max-width: 100%;
      div {
        border-radius: 5px;
        display: inline-block;
        margin: 1px;
        padding: 5px;
        position: relative;
        background: $mainColor;
        color: $lightFontColor;
        text-shadow: $mainColorDark 2px 2px;
        &:hover {
          background: $mainColorLight;
          text-shadow: none;
          cursor: default;
        }
      }
    }
  }
}

#experience {
  position: relative;
  h2 {
    margin-top: 8px;
  }
  .experience-bar {
    position: absolute;
    width: 0;
    border: $mainColor 1px solid;
    height: 97%;
    top: 30px;
    left: 23%;
    &:before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: -7px;
      height: 0;
      width: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 11px solid $mainColor;
    }
  }
  .experience-bar-labels {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    right: 27%;
    margin-top: -15px;
    .exp-bar-present {

    }
    .exp-bar-past {
      position: absolute;
      width: 100%;
      bottom: -25px;
      text-align: center;
    }
  }
  .job-list {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
    .job-info {
      margin-top: -10px;
    }
    ul {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 10px;
      border-bottom: 1px $mainColor dashed;
      padding-right: 5px;
      ul {
        border: none;
        padding-bottom: 0;
      }
    }
    .job-info {
      align-self: center;
      .job-details {
        margin-left: 15px;
        .job-employer {

        }
        .job-dates {
          font-style: italic;
        }
      }
    }
    .job-roles {
      margin-bottom: 10px;
    }
  }
}
