@import './theme';

#swal2-title {
  color: $mainColorDark;
}

#swal2-content {
  input {
    width: 80%;
    border-radius: 10px;
    margin: 10px;
    line-height: 35px;
    font-size: 25px;
    color: $mainColorDark;
  }
}