<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Resume: Matthew Travis Johnson{% endblock %}</title>
        {% block layout_stylesheets %}
        <link href="{{ asset('build/layout.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block layout_javascripts %}
        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/layout.js') }}"></script>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
